.corpo{
    
    background-image: radial-gradient(circle at 14.64% 111.24%, #ffffff 0, #ffffff 16.67%, #ffffff 33.33%, #ffffff 50%, #eaf3f0 66.67%, #d7e7e1 83.33%, #c7ddd3 100%);
}
.navbar{
    background-image: linear-gradient(60deg, #8d98ff 0, #536ddd 25%, #184294 50%, #001b51 75%, #00001a 100%);

}
.carousel{
    margin-bottom: 10px;
    margin-top: 10px;
    
}
footer{
    margin-top: 10px;
    background-image: radial-gradient(circle at 0% 100%, #e3f1ff 0, #9dbcff 25%, #5a86ff 50%, #1753aa 75%, #00275f 100%);
}
footer a{
 text-decoration: none;
    
}
footer a#cartoes{
    margin-right: 150px;
}

.navbar li{
    color: bisque;
}
.promo{
    text-align: center;
    border: 2px inset rgb(186, 186, 204);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ml-15{
    margin-left: -15px;
}